<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="report.TestNgListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Appmetry/Project/restassured_api">
        <classes>
            <class name="api.tests.ValidateBooks">
                <methods>
                    <include name="validateAllBooks"/>
                    <include name="validateAddBook"/>
                    <include name="validateGetBook"/>
                    <include name="updateBook"/>
                </methods>
            </class>
            <class name="api.tests.ValidateUser">
                <methods>
                    <include name="createUserTest"/>
                    <include name="generateToken"/>
                    <include name="validateUserInfo"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>